@using MvcNotePortalApp.Entities

@model List<Liked>
@{
    ViewBag.Title = "MyLikedNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyLikedNotes</h2>

@foreach (Liked like in Model)
{
    <div>
        <dl class="dl-horizontal col-md-8">

        </dl>
    </div>
    
}
