
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5 mb-5">

    <h2>Yetkisiz Giriş Denemesi</h2>

    <p class="fs-5">Bu sayfayı görüntülemek için yetkiniz yok.</p>

    <a href="/Home/Index" class="btn btn-primary">Ana Sayfaya Dön</a>

</div>
